.wrapper {
    --search-border-radius: 92px;
    --search-heigth: 46px;
    --search-top-space: 9px;
    --search-btn-width: 52px;

    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    height: 100%;
    padding: 0 var(--default-layout-horizontal-space);
    width: var(--default-layout-header-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.actions {
    display: flex;
    align-items: center;
}

.action-btn {
    color: #161823;
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;
}

.more-action {
    font-size: 2rem;
    margin-left: 24px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
